<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/characters">Characters</a></li>
                <li><a href="/creatures">Magical Creatures</a></li>
                <li><a href="/potions">Potions</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1>Magical Creatures</h1>

    <!-- Отображение постов -->
    <section>
        <% posts.forEach(post => { %>
            <article>
                <h2><%= post.title %></h2>
                <p><%= post.description %></p>
            </article>
        <% }) %>
    </section>

    <form action="/creatures/create" method="POST">
        <input type="hidden" name="type" value="creature">
        <input type="text" name="title" placeholder="Creature Name" required>
        <textarea name="description" placeholder="Description" required></textarea>
        <input type="text" name="images" placeholder="Image URLs (comma separated)" required>
        <button type="submit">Add Creature</button>
    </form>
    <ul>
        <% items.forEach(item => { %>
            <li>
                <h2><%= item.title %></h2>
                <p><%= item.description %></p>
                <div class="carousel">
                    <% item.images.forEach(image => { %>
                        <div class="carousel-item">
                            <img src="<%= image %>" alt="<%= item.title %> Image">
                        </div>
                    <% }); %>
                </div>
                <form action="/creatures/delete/<%= item._id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
                <form action="/creatures/update/<%= item._id %>" method="POST">
                    <input type="text" name="title" value="<%= item.title %>" required>
                    <textarea name="description" required><%= item.description %></textarea>
                    <input type="text" name="images" value="<%= item.images.join(',') %>" required>
                    <button type="submit">Update</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <footer style="text-align: center; margin-top: 20px; padding: 10px; background-color: #f4f4f4;">
        <p>Assel Khaidarova, BDA-2301</p>
    </footer>
    
</body>
</html>
